* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.form-container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form {
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.row-nho {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.text-end {
  text-align: end;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-wrap: nowrap;
  min-width: 140px;
}

input {
  flex: 1;
  padding: 8px;
}

@media (max-width: 1024px) {
  .form {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .text-end {
    text-align: start;
  }

  .xuong {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .row-nho {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    width: 100%;
  }

  .row {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
