* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.form-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form {
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-nho {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-wrap: nowrap;
  min-width: 120px;
}

input {
  flex: 1;
  padding: 8px;
}
